* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-color: #000;
  --main-text-color: #fff;
  --secondary-text-color: #6c757d;
  --primary-btn-color: #dc3545;
  --secondary-btn-color: #198754;
}

html {
  font-size: 62.5%;
}
body {
  background: var(--body-color);
  color: var(--main-text-color);
}

/* navbar started */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navbar .logo a img {
  width: 165px;
}

.navbar ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 1.8rem;
  font-weight: 500;
}

.franchies-btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 7px 16px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: var(--body-color);
  color: var(--main-text-color);
  cursor: pointer;
}

.order-btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 7px 16px;
  background-color: var(--primary-btn-color);
  color: var(--main-text-color);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.arrow-btn {
  padding: 5px 8px;
  color: var(--primary-btn-color);
  background-color: var(--main-text-color);
  border-radius: 30px;
}
/* navbar ended */

/* main started */
/* into container started */
.intro-container {
  width: 80vw;
  margin: 0 auto;
}
.intro-container h1,
.intro-container p {
  text-align: center;
}

.resturant-container {
  width: 80vw;
  margin: 0 auto;
}
.resturant-container h1,
.resturant-container p {
  text-align: center;
}
.container {
  display: flex;
  margin: 10px 50px;
  gap: 20px;
  justify-content: space-evenly;
}
.container div {
  align-self: flex-start;
}
.container div img {
  width: 50vw;
  height: 50vh;
}
/* into container ended */

/* resturant started  */

.resturant-container {
  padding: 50px 100px;
  margin-bottom: 30px;
}

.intro-container h1,
.resturant-container h1,
.container h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--main-text-color);
}

.intro-container p,
.resturant-container p,
.container p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8;
  /* margin-bottom: 20px; */
  color: var(--secondary-text-color);
}

.container {
  padding: 30px 0;
  /* align-items: center; */
  background-color: var(--body-color);
  margin: 30px 100px;
}

.container div {
  flex: 1;
  padding: 20px;
}

.container div img {
  width: 100%;
  border-radius: 10px;
}
/*  resturant ended  */

/* franchise-container started */
.franchise-container {
  text-align: center;
  margin-bottom: 30px;
}
.franchise-container .container div h1 {
  text-align: left;
}
.franchise-container .container div p {
  text-align: left;
}
/* franchise-container ended */

/* Express Franchises started */
.express-franchises {
  margin: 20px 0px;
}
.express-franchises > h1 {
  text-align: center;
  font-size: 48px;
}
.express-franchises > h1 > span {
  font-family: "futurak";
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 65px;
}
.sub-container {
  width: 30%;
  line-height: 40px;
  margin: 20px;
  text-align: center;
}
.sub-container div img {
  width: 100%;
  border-radius: 20px;
  height: 250px;
  object-fit: cover;
}

.sub-container div h1 {
  font-size: 32px;
  font-family: "apercu";
  font-weight: 400;
}

.sub-container div h2 {
  color: var(--primary-btn-color);
  font-family: "apercu";
  letter-spacing: 5px;
}
.sub-container div p {
  font-family: "apercu";
  font-size: 1.3rem;
  color: var(--secondary-text-color);
}
.sub-container div button {
  margin-top: 20px;
  padding: 15px 20px;
  background-color: var(--body-color);
  color: var(--main-text-color);
  border: 1px solid gray;
  border-radius: 20px;
  font-family: "inter";
  font-weight: 500;
}

.sub-container div button span {
  background-color: var(--main-text-color);
  color: var(--primary-btn-color);
  padding: 10px;
  margin-left: 15px;
  border-radius: 20px;
}
/* Express Franchises ended */

/* main ended */

/* footer started */
.footer-main {
  background-color: var(--sub-body-color);
  display: flex;
  flex-wrap: wrap;
}

.fotter-info,
.footer-links,
.footer-addresses,
.footer-social-links {
  padding: 0px 35px;
  width: 23vw;
  margin: 20px 11px;
}
.fotter-info img {
  max-width: 200px;
  margin-bottom: 20px;
  filter: brightness(0.9);
}
.fotter-info p {
  margin-bottom: 15px;
  font-size: 1.2rem;
  line-height: 1.7;
  font-family: "apercu";
  color: var(--secondary-text-color);
}

.footer-links h2,
.footer-addresses h2,
.footer-social-links h2 {
  font-size: 2rem;
  margin-top: 20px;
  padding-bottom: 10px;
  font-family: "inter";
  letter-spacing: 3px;
  font-weight: 400;
}

.footer-addresses p {
  font-size: 1.5rem;
  margin-top: 20px;
  padding-bottom: 10px;
  font-family: "apercu";
  letter-spacing: 3px;
  font-weight: 400;
  color: var(--secondary-text-color);
}
.footer-links ul {
  list-style: none;
}
.footer-links li {
  margin-bottom: 12px;
}
.footer-links a {
  text-decoration: none;
  font-size: 1.5rem;
  /* padding: 5px 0px; */
  color: var(--secondary-text-color);
  font-family: "apercu";
  /* line-height: 30px; */
  font-weight: 400;
}
.footer-links ul li a {
  margin-right: 10px;
}

.footer-social-links img {
  width: 150px;
  margin-top: 10px;
}
.footer-social-links div span i {
  border: none;
  padding: 15px;
  background-color: var(--primary-btn-color);
  border-radius: 30px;
  margin: 0px 2px;
}

.footer-sub {
  display: flex;
  justify-content: space-around;
  margin: 5px 30px;
  font-family: "inter";
  font-size: 1.2rem;
}

/* footer ended */
