@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "futurak";
  src: url("../fonts/futurak.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "butler";
  src: url("../fonts/Butler_Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "apercu";
  src: url("../fonts/Apercu-regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #000;
  --sub-body-color: #0f0f0f;
  --main-text-color: #fff;
  --secondary-text-color: #6c757d;
  --primary-btn-color: #dc3545;
  --secondary-btn-color: #198754;
}

html {
  font-size: 62.5%;
}
body {
  background: var(--body-color);
  color: var(--main-text-color);
}

/* navbar started */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navbar .logo a img {
  width: 165px;
}

.navbar ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 1.7rem;
  font-family: "Inter", sans-serif;
}

.navbar ul li a button {
  font-family: "Inter", sans-serif;
}

.franchies-btn {
  padding: 7px 16px;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 30px;
  background-color: var(--body-color);
  color: var(--main-text-color);
  cursor: pointer;
}

.order-btn {
  padding: 7px 16px;
  font-size: 1.5rem;
  background-color: var(--primary-btn-color);
  color: var(--main-text-color);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.arrow-btn {
  padding: 5px 8px;
  color: var(--primary-btn-color);
  background-color: var(--main-text-color);
  border-radius: 30px;
}
/* navbar ended */

/* main started */

/* franchise_banner_section started */
.franchise_banner_section figure {
  position: relative;
  display: flex;
}
.franchise_banner_section figure img {
  width: 100%;
  opacity: 0.4;
}

.franchise_banner_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.franchise_banner_text h2 {
  font-size: 4.5rem;
  font-weight: 500;
}
.franchise_banner_text h1 {
  font-size: 10rem;
  font-weight: 500;
  font-family: sans-serif;
}
.franchise_banner_text p {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: sans-serif;
}
/* franchise_banner_section ended */

/* feed back content section started */
.feedback_content_section h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 30px;
  margin: 30px 0px;
}
/* feed back content section ended */

/* form section stared */
.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.feedback-form div {
  width: 70vw;
}
.text-number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 50px;
  margin-left: 37px;
}
.text-number input {
  width: 47%;
}
.text-number input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
.branches select,
textarea {
  padding: 10px;
}
.items input[type="text"] {
  padding: 10px;
  margin: 10px;
}
.items label {
  font-size: 2rem;
}
.satisfied-items input {
  padding: 10px;
  margin: 20px 10px;
}
.radio-items {
  font-size: 2rem;
}

.food-items input[type="text"] {
  padding: 10px;
  margin: 10px;
}
.food-items label {
  font-size: 2rem;
}

.branches input,
.branches section,
.branches textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin: 10px 20px;
}
#branch {
  width: 100%;
  margin: 10px 20px;
}

.social-media-items {
  display: flex;
  flex-direction: column;
}
.social-items {
  display: flex;
  column-gap: 20px;
  margin: 20px 0px;
  font-size: 2rem;
}
/* form section ended */

/* button started */
.button button {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  background-color: #ffca2c;
  color: var(--main-text-color);
  font-size: 1.5rem;
}
/* button ended */
/* main ended */

/* footer started */
.footer-main {
  background-color: var(--sub-body-color);
  display: flex;
  flex-wrap: wrap;
}

.fotter-info,
.footer-links,
.footer-addresses,
.footer-social-links {
  padding: 0px 35px;
  width: 23vw;
  margin: 20px 11px;
}
.fotter-info img {
  max-width: 200px;
  margin-bottom: 20px;
  filter: brightness(0.9);
}
.fotter-info p {
  margin-bottom: 15px;
  font-size: 1.2rem;
  line-height: 1.7;
  font-family: "apercu";
  color: var(--secondary-text-color);
}

.footer-links h1,
.footer-addresses h1,
.footer-social-links h1 {
  font-size: 2rem;
  margin-top: 20px;
  padding-bottom: 10px;
  font-family: "butler";
  letter-spacing: 3px;
}
.footer-links h2,
.footer-addresses h2,
.footer-social-links h2 {
  font-size: 2rem;
  margin-top: 20px;
  padding-bottom: 10px;
  font-family: "inter";
  letter-spacing: 3px;
  font-weight: 400;
}

.footer-addresses p{
  font-size: 1.5rem;
  margin-top: 20px;
  padding-bottom: 10px;
  font-family: "apercu";
  letter-spacing: 3px;
  font-weight: 400;
  color: var(--secondary-text-color);
}
.footer-links ul {
  list-style: none;
}
.footer-links li {
  margin-bottom: 12px;
}
.footer-links a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 5px 0px;
  color: var(--secondary-text-color);
  font-family: "apercu";
  line-height: 30px;
  font-weight: 400;
}
.footer-links a i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.footer-social-links img {
  width: 150px;
  margin-top: 10px;
}
.footer-social-links div span i {
  border: none;
  padding: 15px;
  background-color: var(--primary-btn-color);
  border-radius: 30px;
  margin: 0px 2px;
}

.footer-sub {
  display: flex;
  justify-content: space-around;
  margin: 5px 30px;
  font-family: "inter";
  font-size: 1.2rem;
}

/* footer ended */