@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "futurak";
  src: url("../fonts/futurak.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "butler";
  src: url("../fonts/Butler_Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "apercu";
  src: url("../fonts/Apercu-regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #000;
  --main-text-color: #fff;
  --secondary-text-color: #6c757d;
  --primary-btn-color: #dc3545;
  --secondary-btn-color: #198754;
}

html {
  font-size: 62.5%;
}
body {
  background: var(--body-color);
  color: var(--main-text-color);
}

/* navbar started */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navbar .logo a img {
  width: 165px;
}

.navbar ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 2rem;
}

.franchies-btn {
  padding: 7px 16px;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 30px;
  background-color: var(--body-color);
  color: var(--main-text-color);
  cursor: pointer;
}

.order-btn {
  padding: 7px 16px;
  font-size: 1.5rem;
  background-color: var(--primary-btn-color);
  color: var(--main-text-color);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.arrow-btn {
  padding: 5px 8px;
  color: var(--primary-btn-color);
  background-color: var(--main-text-color);
  border-radius: 30px;
}
/* navbar ended */

/* main started */

/* hero images started */
.hero-images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px 111px;
}

.hero-images img {
  width: 45%;
  height: 85vh;
  border: 1px solid gray;
}
/* hero images ended */

/* branches address started */
.branches {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.branches h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "butler";
  font-size: 3rem;
  font-weight: 400;
}
.branches div p {
  text-align: center;
  line-height: 2.5;
  font-family: "inter";
  font-size: 1.5rem;
  font-weight: 400;
}
/* branches address ended */

/* main ended */

/* footer started */
.footer-main {
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
  padding: 0px 20px;
}

.fotter-info,
.footer-links,
.footer-addresses,
.footer-social-links {
  flex: 1;
  padding: 0px 70px;
}
.fotter-info img {
  max-width: 200px;
  margin-bottom: 20px;
  filter: brightness(0.9);
}
.fotter-info p {
  margin-bottom: 15px;
  font-size: 1.05rem;
  line-height: 1.7;
}

.footer-links h2,
.footer-addresses h2,
.footer-social-links h2 {
  font-size: 1.6rem;
  margin-top: 20px;
  padding-bottom: 10px;
}
.footer-links ul {
  list-style: none;
}
.footer-links li {
  margin-bottom: 12px;
}
.footer-links a {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 5px 0px;
  color: var(--main-text-color);
}
.footer-links a i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.footer-social-links img {
  width: 150px;
  margin-top: 10px;
}
.footer-social-links div span i {
  border: none;
  padding: 20px;
  background-color: var(--primary-btn-color);
  border-radius: 30px;
  margin: 0px 2px;
}

.footer-sub {
  display: flex;
  justify-content: space-between;
  margin: 5px 30px;
}

/* footer ended */
